
.container{
  width: 1700px;
}
.footer {
  
    background-color: black; 
   
  
 }
 
 .footer__nav {
     display: flex;
     align-items: center;
     justify-content: center;
    
 }
 .footer__logo{
     width:80px;
     height:80px;
     padding-left: 10px;
 }
 .footer__menu {
     display: flex;
    
     list-style: none;
     font-weight: 700;
     
 }
 
 .footer__menu a{
    color: lightskyblue;
    text-decoration: none;
 }
 
 .footer__item{
     border: 2px solid lightskyblue;
     width: 40px;
     height: 40px;
     display: block;
     margin:  0 10px;
     border-radius: 100%;
 }
 
 
 
 .footer_link {
 
   display: block;
   width: 40px;
   height: 40px;
 
   background-repeat: no-repeat;
   background-position: center center;
    
 }
 
 .insta{
   background-image: url(./img/insta.svg);
   
 }
 
 .fb{
     background-image: url(./img/fb.svg);
   }
 
 .vk{
     background-image: url(./img/vk.svg);
   }
 
 .youtube{
     background-image: url(./img/youTube.svg);
   }

   @media screen and (max-width: 1600px) and (min-width: 1200px){
    .container{
      width: 100%;
    }
   


  }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (max-width: 1200px) and (min-width: 992px) {
    .container{
      width: 100%;
    }
  
  }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (max-width: 992px) {
  .container{
    width: 100%;
  }
 
}

  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .container{
    width: 100%;
  }

  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) and (min-width: 300px){
  .container{
    width: 100%;
  }

  .footer__logo{
   
      width: 40px;
     height: 40px;
    
  }
  .footer__item{
    border: none;
  }

}
  

  

  
  
  
 
  
